<div class="container">
<nav>
    <h1>Home page</h1>
    <ul class="nav nav-tabs">
  <li class="nav-item">  <a class="nav-link"href="./about">About page</a></li>
   <li class="nav-item"> <a class="nav-link"href="/">Blogs</a></li>
    <li class="nav-item"><a class="nav-link"href="./create">Write new blog</a></li>
    <li class="nav-item"><a class="nav-link"href="./login">Login</a></li>
    <li class="nav-item"><a class="nav-link"href="./register">Register</a></li>
    </ul>
</nav>
</div>